{% extends "restaurant/layout.html" %}
{% load static %}

{% block body %}
<h2 class="text-center">Menu</h2>
<table id="menu_table" class="table table-striped">
    <thead>
        <tr>
            <th>Menu item name</th>
            <th>Price</th>
            <th>Time to Serve</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in menu_items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>${{ item.price }}</td>
            <td>{{ item.time_to_serve }} minutes</td>
            <td>{{ item.description }}</td>
            <td>
                <a href="{% url 'restaurant:edit_menu_item' item.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No menu items available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-center">
    <a href="{% url 'restaurant:add_menu_item' %}" class="btn btn-primary">Add New Menu Item</a>
</div>
{% endblock %}
