{% extends "restaurant/layout.html" %}
{% load static %}

{% block body %}
<div class="text-center">
    <h2>Sign Up</h2>
    <form method="post" action="{% url 'restaurant:signup' %}" class="form-signin">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
    </form>
    {% if error %}
    <p class="text-danger">{{ error }}</p>
    {% endif %}
    <p><a href="{% url 'restaurant:login' %}">Login</a></p>
</div>
{% endblock %}
